{{define "result"}}<!DOCTYPE html>
<html>
<head>
  <title>{{.Data.Ship.Name}} Trade routes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <link href="{{.Proto}}//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{.Proto}}//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,700italic" rel="stylesheet" type="text/css">
  <style>
    /* include the style here in the HTML so the file can be saved locally */
    body {
      font-family: 'Open Sans', sans-serif;
      padding: 0;
    }
    div#toolbar {
      position: fixed;
      bottom: 0px;
      padding: 0.5em;
      padding-left: 1em;
      margin-bottom: 1em;
      right: 0px;
      text-align: right;
      background: #444;
      color: #fff;
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
      box-shadow: 10px 10px 5px #888;
      cursor: default;
    }
    span.switch > i#hover {
      cursor: pointer;
    }
    div #content {
      padding: 4px;
    }
    span.star {
      font-weight: 700;
    }
    span.qty {
      font-style: italic;
    }
    div.route {
      display: block;
      padding-top: 2em;
    }
    div.header {
      border-bottom: 1px solid #aaa;
    }
    span.index {
      font-size: 70%;
      margin-right: 1em;
    }
    span.totalavg {
      font-size: 150%;
      margin-right: 1em;
    }
    span.route .star {
      font-size: 85%;
    }
    span.jump {
      margin-left: 0.5em;
    }
    span.route {
      color: #444;
    }
    div .hopsummary {
      display: inline-block;
      margin-left: 1em;
    }
    div .hopdetail {
      font-size: 90%;
      margin-left: 2em;
    }
    span.money:after { content: "¤"; }
    span.qty:after { content: "t"; }
    span.hopvalue {
      color: #aaa;
      font-size: 80%;
    }
    span.hopcommodity {
      display: inline-block;
      min-width: 10em;
    }
    span.hoptotal {
      display: inline-block;
      width: 4em;
      text-align: right;
      margin-right: 0.5em;
    }
    span.hopqty {
      display: inline-block;
      width: 2em;
      text-align: right;
      margin-right: 0.5em;
    }
    span.sell, span.buy, span.qty.stock {
      display: inline-block;
      text-align: right;
    }
    span.sell, span.buy {
      min-width: 4.5em;
    }
    span.qty.stock {
      min-width: 4em;
    }
    span.ageicon {
      padding-right: 0.3em;
    }
    span.ageicon.ok {
      color: #aaa;
    }
    span.ageicon.old {
      color: #c00;
    }
    div.fuelbar {
      display: inline-block;
      padding: 0;
      margin-left: 0.5em;
      width: 1.5em;
      height: 0.5em;
      border: 1px solid #888;
    }
    div.fuel {
      position: relative;
      height: 100%;
      background-color: #888;
    }
    div.fuelbar.fuellow {
      border: 1px solid #c00;
    }
    .fuellow > div.fuel {
      background-color: #c00;
    }
  </style>
</head>
<body>
  <div id="toolbar"><div id="controls"><span id="detailswitch" class="switch" onclick="toggleDetails()"></span> details</div></div>
<script type="text/javascript">
  toggleDetails = function() {
    var header = document.getElementsByTagName('head')[0];
    var styleTag = document.createElement('style');
    header.appendChild(styleTag);
    var elswitch = document.getElementById("detailswitch");
    var details = true;
    var toggleOn = document.createElement('i');
    toggleOn.setAttribute("class", "fa fa-toggle-on");
    var toggleOff = document.createElement('i');
    toggleOff.setAttribute("class", "fa fa-toggle-off");
    return function() {
      details = !details;
      var toggle, cssdisplay;
      if (details) {
        toggle = toggleOn;
        cssdisplay = "display: inline-block";
      } else {
        toggle = toggleOff;
        cssdisplay = "display: none";
      }
      while (elswitch.lastChild) {
          elswitch.removeChild(elswitch.lastChild);
      }
      elswitch.appendChild(toggle);
      while (styleTag.lastChild) {
          styleTag.removeChild(styleTag.lastChild);
      }
      styleTag.appendChild(document.createTextNode(".hopdetail { " + cssdisplay + "}"));
    }
  }()
  toggleDetails();
</script>
{{with .Data}}
<div id="content">
  <div class="stat">
    {{len .Routes}} trade routes for {{.Ship.Name}} with <span class="money">{{.Cash}}</span>.
    Processed {{.NumFound}} in {{.Duration}} on {{.Time.Format "2006-01-02 15:04"}}</div>
{{if .Err}}<div class="info"><i class="fa fa-warning"></i> {{.Err}}</div>{{end}}

{{range $i, $r := .Routes}}
  <div class="route">
    <div class="header">
      <span class="index">{{add1 $i}}</span>
      <span class="money profit totalavg">{{.AvgProfit}}</span><span class="detail">
      <span class="money profit total">{{.Profit}}</span> <span class="routelenlen">in {{len .Hops}} stops</span>
    </div>
    <div class="hops">
{{range .Hops}}
      <div class="hop">
{{template "HJ" .}}{{template "HT" .}}
      </div>
{{end}}
    </div>
  </div>
{{end}}
{{end}}

</div>
</body>
</html>
{{end}}{{/* define "result" */}}
{{define "HJ"}}
          <span class="stop star">{{.From.Name}}</span>{{if .Route}}
            <span class="route">
              {{range .Route}}<span class="jump"><i class="fa fa-long-arrow-right"></i><span class="star">{{.System.Name}}</span>{{if .Refuel}}<i title="Refuel here" class="fa fa-warning"></i>{{end}}</span>{{end}}
            </span>{{end}}
          <span class="jump"><i class="fa fa-arrow-right"></i><span class="stop star">{{.To.Name}}</span></span>
          <div class="fuelbar{{if lt .FuelRemaining 35}} fuellow{{end}}"><div style="width: {{.FuelRemaining}}%;" class="fuel"></div></div>
{{end}}{{/* define "HJ" */}}
{{define "HT"}}{{$best := index .Items 0}}{{range (.Best 2 0.6)}}
          <div class="hop hopv{{relhopn . $best}}">
            <div class="hopsummary">
              <span class="money profit hoptotal">{{.TotalProfit}}</span>
              <span class="qty hopqty">{{.Qty}}</span>
              <span class="hopage">{{worstageicon .}}</span>
              <span class="hopvalue">{{relhopfaicon . $best "star" "star-half-o" "star-o"}}</span>
              <span class="hopcommodity">{{.T.Commodity.Name}}</span>
            </div><div class="hopdetail">
              <span class="buy"><span class="money">-{{.Buy}}</span>{{ageicon .T.BuyT}}</span>
              <span class="sell"><span class="money">+{{.Sell}}</span>{{ageicon .T.SellT}}</span>
              <span class="qty stock">{{.Stock}}</span>
            </div>
          </div>
{{end}}{{end}}{{/* define "HT" */}}
{{/* vim: set tabstop=2 shiftwidth=2 expandtab : */}}
