@import url("base.css");
body {
	font-family: Roboto;
	background-color: rgba(64, 64, 64, 1);
	color: white;
}
.starc.xnavbar {
	top: 0;
	right: 5em;
	min-width: 100%;
	font-size: 80%;
	background: rgba(0,0,0,0.8);
	color: #fa4;
}
.starc.xnavbar-nav {
	float: right;
	right: 3em;
}
.starc.xnavbar ul {
	position: relative;
}
label.systemdetail {
	display: inline-block;
	text-align: right;
	width: 11em;
	margin: 0.3em;
}
label.stationfield {
	display: inline-block;
	text-align: right;
	width: 7em;
	margin: 0.3em;
}
label > span.info {
	margin-left: 0.5em;
}
.station {
	float: left;
	height: 17em;
	width: 20em;
	border: 1px solid orange;
	padding: 0.3em;
	margin: 0.3em;
	background: rgba(0,0,0,0.8);
}
.inferred {
	display: block;
	margin-top: 3em;
	margin-bottom: 3em;
}
button.formcontrol {
	margin: 0.3em;
}
button.toggle {
	margin: 0.3em;
	background: #666;
	color: white;
}
button.toggle::before {
	display: inline-block;
	width: 1.1em;
	content: "\f00d";
	font-family: FontAwesome;
	margin-right: 0.1em;
}
button.toggle.checked {
	background: orange;
	color: black;
}
button.toggle.checked::before {
	content: "\f00c";
}
button.toggle.indeterminate {
	background: red;
	color: black;
}
button.toggle.indeterminate::before {
	content: "\f059";
}
div#stations {
	clear: both;
	border: 1px solid black;
	width: 100%;
}
h1.system {
	display: inline-block;
	margin: 0.3em;
}
h2.stations, h2.system {
	font-size: 120%;
	margin: 0.3em;
}
.sysmeta {
	font-size: 80%;
}
.cmdr {
	font-weight: bold;
}
#editinfo {
	font-size: 90%;
	padding: 1em;
	width: 40%;
	float: right;
}
