{{define "edit"}}<!DOCTYPE html>
<html lang="en">
<head>
	<title>Starchart</title>
	<meta property="harmless:prefix" content="{{$.Prefix}}"/>
	<meta property="harmless:apiurl" content="{{$.API}}"/>
	<link href='//fonts.googleapis.com/css?family=Oswald:300,400|Roboto:400italic,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{.Prefix}}/pages.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{.Prefix}}/image/starchart.ico"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<script src="{{$.Prefix}}/js/starc.js"></script>
	<style>
		html, body { margin:0; padding:0; }
	</style>
</head>
<body>
	{{template "navbar" .}}
	<div id="editinfo"><p><i class="fa fa-warning"></i> This page allows you to edit the system
		selected on the map.</p><p>Changes are saved to the live database but
		will be subject to human review. Please be precise and don't forget to save any edits you make.
		It is not a problem if you don't know all the details, just leave them blank.
		You don't see stations in the Galaxy Map, these are shown in the System View.
		Fields are subject to change as the game evolves.</p>
		<p>Clicking on a station on the in-game System View lists the available facilities,
		everything else is not available. The exception is Black markets: these can only be checked
		by docking at each station and checking the contacts page.</p>
		<p>Meaning of toggle buttons:</p>
		<p>
			<button class="toggle checked">true</button>
			<button class="toggle">false</button>
			<button class="toggle indeterminate">unknown</button>
		</p>
	</div>
	<div id="content">
	</div>
</body>
<script src="{{$.Prefix}}/js/edit.js"></script>
</html>
{{end}}
