{{define "map"}}<!DOCTYPE html>
<html lang="en">
<head>
	<title>Starchart</title>
	<meta property="harmless:apiurl" content="{{$.API}}"/>
	<meta property="harmless:prefix" content="{{$.Prefix}}"/>
	<meta name="robots" content="noindex"/>
	<link href='//fonts.googleapis.com/css?family=Oswald:300,400|Roboto:400italic,400|Crimson+Text:400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link href="{{$.Prefix}}/map.css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{$.Prefix}}/image/starchart.ico"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<style>
	html, body { margin:0; padding:0; overflow:hidden; }
	body { width: 100%; height: 100%; }
	</style>
</head>
<body>
	{{template "navbar" .}}
	<div class="starc omnibox">
		<div class="starc omnichild" id="waypoints"></div>
		<div class="starc omnichild" id="itinerary"></div>
		<div class="starc omnichild" id="search">
		</div>
		<div class="starc omnichild" id="systeminfo">
		</div>
	</div>
	<div id="mapouter">
		<div id="mapinner"><div id="mapcontainer"></div></div>
	</div>

	<div id="loading">
		<i class="fa fa-refresh fa-3x fa-spin"></i>
	</div>
	<div id="logo">
		<img src="{{$.Prefix}}/image/logo-180.png"/><br/>
	</div>
	<div id="fontloader">
		<span style="font-family: Oswald; font-weight: 400;">X</span>
		<span style="font-family: Oswald; font-weight: 300;">X</span>
		<span style="font-family: Crimson-Text; font-style: italic; font-weight: 400;">X</span>
	</div>
	<div style="display:none">
		<svg id="charttmpl" class="chart noselect"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:xlink="http://www.w3.org/1999/xlink"
		 preserveAspectRatio="xMidYMid"
			>
			<defs>
				<g class="digit" id="digit0">
					<polyline points="-4,-6 3,-6 3,6 -3,6 -3,-6"/>
				</g>
				<g class="digit" id="digit1">
					<line x1="0" y1="-7" x2="0" y2="7"/>
				</g>
				<g class="digit" id="digit2">
					<polyline points="-4,-6 3,-6 3,0 -3,0 -3,6 4,6"/>
				</g>
				<g class="digit" id="digit3">
					<polyline points="-4,-6 3,-6 3,6 -4,6"/>
					<line x1="-4" y1="0" x2="3" y2="0"/>
				</g>
				<g class="digit" id="digit4">
					<polyline points="-3,-7 -3,0 3,0"/>
					<line x1="3" y1="-7" x2="3" y2="7"/>
				</g>
				<g class="digit" id="digit5">
					<polyline points="4,-6 -3,-6 -3,0 3,0 3,6 -4,6"/>
				</g>
				<g class="digit" id="digit6">
					<polyline points="4,-6 -3,-6 -3,6 3,6 3,0 -3,0"/>
				</g>
				<g class="digit" id="digit7">
					<polyline points="-4,-6 3,-6 3,7"/>
				</g>
				<g class="digit" id="digit8">
					<polyline points="-4,-6 3,-6 3,6 -3,6 -3,-6"/>
					<line x1="-3" y1="0" x2="3" y2="0"/>
				</g>
				<g class="digit" id="digit9">
					<polyline points="-4,6 3,6 3,-6 -3,-6 -3,0 3,0"/>
				</g>
			</defs>
		</svg>
	</div>
</body>
<script src="{{$.Prefix}}/js/starc.js"></script>
<script src="{{$.Prefix}}/js/chart.js"></script>
<script>
	(function(){
		starc.chart.setup({
			prefix: $("meta[property='harmless:prefix']").attr('content'),
			apiurl: $("meta[property='harmless:apiurl']").attr('content'),
			loading: $("#loading"),
			tmpl: $("#charttmpl"),
			container: $("#mapcontainer")
		});
		starc.omnisetup($("#search"), $("#systeminfo"), $("#waypoints"), $("#itinerary"));
		starc.chart.load(function() {
			$("#logo").hide();
			$("#fontloader").hide();
		});
	})();
</script>
</html>{{end}}
