{{define "navbar"}}
	<div class="starc xnavbar clearfix">
		<div class="starc xnavbar-nav">
			<ul class="starc xnavbar-nav">
				<li><a href="{{.Prefix}}/map/"><i class="fa fa-star"></i><span class="xnavlabel">Map</span></a></li>
				<li><a href="{{.Prefix}}/edit/"><i class="fa fa-edit"></i><span class="xnavlabel">Edit</span></a></li>
				<li><a href="{{.Prefix}}/about/"><i class="fa fa-question-circle"></i><span class="xnavlabel">About</span></a></li>
				<li><a href="{{.Prefix}}/setup/"><i class="fa fa-gears"></i><span class="xnavlabel">Setup</span></a></li>
			</ul>
		</div>
	</div>
{{end}}
