{{define "setup"}}<!DOCTYPE html>
<html lang="en">
<head>
	<title>Starchart</title>
	<meta property="harmless:prefix" content="{{$.Prefix}}"/>
	<meta property="harmless:apiurl" content="{{$.API}}"/>
	<link href='//fonts.googleapis.com/css?family=Oswald:300,400|Roboto:400italic,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{.Prefix}}/pages.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{.Prefix}}/image/starchart.ico"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<script src="{{$.Prefix}}/js/starc.js"></script>
	<style>
		html, body { margin:0; padding:0; }
	</style>
</head>
<body>
	{{template "navbar" .}}
	<div id="editinfo"><p>Here you can set the routing and display parameters.</p><p>If you have a fuel scoop,
		all you need to set is the jump range, the other values will not be used.</p>
		<p>For fuel use calculation you need to enter the <em>max fuel per jump</em> which is a parameter
		of your frame shift drive (FSD), and the total <em>fuel capacity</em> of the fuel tanks you have installed.
		These values can be found in the outfitting facility of the station, if it is available.
		Somewhat surprisingly a smaller <em>max fuel per jump</em> value for the same <em>jump range</em> is
		actually better, as this means in fact less fuel is needed for that jump.
		The <em>exponent value</em> is a mystical parameter of the FSD, and explains why a single long
		jump with a certain length uses more fuel in comparison with many short jumps having the same total length.
		The bigger the value the more fuel is saved taking short jumps. Currently it is assumed this value is based
		on the FSD size according to the following table (the alphabetic FSD class does not matter):</p>
		<table>
			<tr><th>FSD class</th><th>Exponent value</th></tr>
			<tr><td>2</td><td>2.0 </td></tr>
			<tr><td>3</td><td>2.15</td></tr>
			<tr><td>4</td><td>2.3 </td></tr>
			<tr><td>5</td><td>2.45</td></tr>
			<tr><td>6</td><td>2.6 </td></tr>
		</table>
		<p>For your safety the route planner uses the default value of 2.0 unless a bigger value is entered the
		<em>Exponent value</em> field.</p>
	</div>
	<div id="content">
		<h1>Ship setup</h1>
		<form class="starc-form" id="shipdata">
			<div><label class="field" for="ship.MaxJumpDist">Jump range<span class="inputunit">Ly</span></label><input class="starc-setup" type="number" name="ship.MaxJumpDist" step="any"/></div>
			<div><label class="field" for="ship.RoutingMode">Routing mode</label><select class="starc-setup" name="ship.RoutingMode">
				<option value="j">Fewer jumps</option>
				<option value="s">Save fuel</option>
				<option value="x">Fuel scoop</option>
			</select></div>
			<div><label class="field" for="ship.MaxJumpFuel">Max fuel per jump<span class="inputunit">t</span></label><input class="starc-setup" type="number" name="ship.MaxJumpFuel" step="any"/></div>
			<div><label class="field" for="ship.FuelTank">Fuel capacity<span class="inputunit">t</span></label><input class="starc-setup" type="number" name="ship.FuelTank" step="any"/></div>
			<div><label class="field" for="ship.FuelPower">Exponent value</label><input class="starc-setup" type="number" name="ship.FuelPower" step="any"/></div>
			<div style="display:none;"><label class="field" for="ship.FuelUnits"># of fuel units</label><input class="starc-setup" type="number" name="ship.FuelUnits"/></div>
		</form>
		<h1>View setup</h1>
		<form class="starc-form" id="view">
			<div><label class="field" for="view.radius">Bubble radius<span class="inputunit">Ly</span></label><input class="starc-setup" type="number" name="view.radius" min="10" max="50" step="any"/></div>
			<div><label class="field" for="view.scale">View scale</label><input class="starc-setup" type="number" name="view.scale" min="0.5" max="2.0" step="any"/></div>
			<div><label class="field" for="view.unreachableOpacity">Opacity of unreachable</label><input class="starc-setup" type="number" name="view.unreachableOpacity" min="0" max="1" step="any"/></div>
		</form>
		<h2>Colors</h2>
		<form id="colorsetup">
		</form>
	</div>
</body>
<script src="{{$.Prefix}}/js/setup.js"></script>
</html>
{{end}}
